<% semantic_form_for @reminder do |form| %>

  <% form.inputs do %>
    <%= form.input :description, :input_html => { :size => 40, :width => 40 }%>
    <%= form.input :remind_at, :as => :string %>
  <% end %>
  <%= form.buttons %>

<% end %>

<p><i>Current time is <%= Time.zone.now %></i></p>

<h2>Upcoming Reminders</h2>

<ul>
<% @reminders.each do |reminder| %>
  <li>
    <%= reminder.description %>
    <%= reminder.remind_at.to_s(:long) %>
  </li>
<% end %>
</ul>